<form method="post" action="{{ path('admin_sondage_delete', {'id': sondage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sondage.id) }}">
    <div class="col-12 text-right p-4">
    <button class="btn btn-style">Supprimer</button>
    </div>
</form>
