{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <h1>Produit</h1>
                <div>Fullcalendar</div>
            </div>
            <div class="col-12 col-md-4 border-left">
                <h2>Mes réservations</h2>
            </div>
        </div>
    </div>
{% endblock %}