.titresection {
    text-align: center;
    font-size: 2em;
    color: black;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-style {
    background-color: #ff8300;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-size: .9em;
    font-weight: bold;
}

.btn-style:hover {
    background-color: #d2d2d2;
    color: white;
    -webkit-box-shadow: 4px 7px 14px -3px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 4px 7px 14px -3px rgba(0, 0, 0, 0.40);
    box-shadow: 4px 4px 14px -3px rgba(0, 0, 0, 0.40);
    transition-duration: .1s;
}


/*---------------------------------------------------------------
------------------------- PAGE LE BATEAU ------------------------
-----------------------------------------------------------------
---------------------------------------------------------------*/
.le-bateau p,
.list-unstyled {
    font-size: 1em;
    font-family: "Open Sans";
    font-variant: small-caps;
    text-align: Left;
    -moz-transform: scale(0.8, 1);
    -webkit-transform: scale(0.8, 1);
    -ms-transform: scale(0.8, 1);
}

.text-caroussel {
    font-size: 1em;
    font-family: "Open Sans";
    font-variant: small-caps;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 40px;
}

.lightbox-bateau {
    opacity: .7;
    filter: grayscale(30%);
}

.lightbox-bateau:hover {
    transform: scale(1.05);
    z-index: 1;
    opacity: 1;
    filter: none;
    transition-duration: .3s;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .lightbox-bateau {
        opacity: 1;
        filter: none;
        transform: scale(1.0);
    }

    .lightbox-bateau:hover {
        transform: scale(1);

    }
}