/*---------------------------------------------------------------
------------------------- PAGE LE PROJET-------------------------
-----------------------------------------------------------------
---------------------------------------------------------------*/
.le-projet {
    font-size: 1em;
    font-family: "Open Sans";
    font-variant: small-caps;
    text-align: justify;
    -moz-transform: scale(0.8, 1);
    -webkit-transform: scale(0.8, 1);
    -ms-transform: scale(0.8, 1);
}

