/*---------------------------------------------------------------
---------------------------- L'EQUIPE ----------------------------
-----------------------------------------------------------------
---------------------------------------------------------------*/


.picto-inst-2:hover {
    -webkit-box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.90);
    -moz-box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.90);
    box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.90);
    transition-duration: .1s;
    transform: scale(1.05);
}

.suivez-moi {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-variant: small-caps;
}
.suivez-moi:hover {
    color : #ff8300;
    border-bottom: #ff8300 solid 3px;
}
