.btn-style {
    background-color: #ff8300;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-size: .9em;
    font-weight: bold;
}

.btn-style:hover {
    background-color: #d2d2d2;
    color: white;
    -webkit-box-shadow: 4px 7px 14px -3px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 4px 7px 14px -3px rgba(0, 0, 0, 0.40);
    box-shadow: 4px 4px 14px -3px rgba(0, 0, 0, 0.40);
    transition-duration: .1s;
}

.titresection {
    text-align: center;
    font-size: 2em;
    color: black;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*---------------------------------------------------------------
---------------------------- L'EQUIPE ----------------------------
-----------------------------------------------------------------
---------------------------------------------------------------*/


.picto-inst-2:hover {
    -webkit-box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.90);
    -moz-box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.90);
    box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.90);
    transition-duration: .1s;
    transform: scale(1.05);
}

.suivez-moi {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-variant: small-caps;
}
.suivez-moi:hover {
    color : #ff8300;
    border-bottom: #ff8300 solid 3px;
}
