{% extends "carousel.html.twig" %}

    {% block content %}

        {# SECTION TEXTE #}
        <section>
            <div class="container titresection text-center">
                <h2 class="mt-5 mb-5">On parle de nous</h2>
            </div>
        </section>

{% endblock %}