{% extends 'base_dashboard.html.twig' %}

{% block title %}Modifier la galerie{% endblock %}

{% block body %}
    <div class="container px-0 rounded">
        <div class="col-12 mt-5 border-right border-left border-top p-0 rounded">
            <h1 class="py-3 pl-5 bg-light border-bottom">
                Modifier la galerie :
            </h1>
        </div>
        {{ include('galerie/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
